[submodule "addons/plugin.video.composite_for_plex"]
	path = addons/plugin.video.composite_for_plex
	url = https://github.com/CE-Repo/plugin.video.composite_for_plex.git
	branch = master
[submodule "addons/plugin.video.gronkhtv"]
	path = addons/plugin.video.gronkhtv
	url = https://github.com/CE-Repo/plugin.video.gronkhtv
	branch = main
[submodule "addons/plugin.video.themoviedb.helper"]
	path = addons/plugin.video.themoviedb.helper
	url = https://github.com/jurialmunkey/plugin.video.themoviedb.helper.git
	branch = nexus
[submodule "addons/resource.font.robotocjksc"]
	path = addons/resource.font.robotocjksc
	url = https://github.com/jurialmunkey/resource.font.robotocjksc.git
	branch = main
[submodule "addons/resource.language.de_de"]
	path = addons/resource.language.de_de
	url = https://github.com/CE-Repo/resource.language.de_de
	branch = main
[submodule "addons/screensaver.matrix"]
	path = addons/screensaver.matrix
	url = https://github.com/CE-Repo/screensaver.matrix.git
	branch = main
[submodule "addons/script.module.jurialmunkey"]
	path = addons/script.module.jurialmunkey
	url = https://github.com/jurialmunkey/script.module.jurialmunkey.git
	branch = main
[submodule "addons/script.skinvariables"]
	path = addons/script.skinvariables
	url = https://github.com/jurialmunkey/script.skinvariables.git
	branch = nexus
[submodule "addons/script.texturemaker"]
	path = addons/script.texturemaker
	url = https://github.com/jurialmunkey/script.texturemaker.git
	branch = main
[submodule "addons/script.tinyppi"]
	path = addons/script.tinyppi
	url = https://github.com/CE-Repo/script.tinyppi.git
	branch = main
[submodule "addons/script.wikipedia"]
	path = addons/script.wikipedia
	url = https://github.com/CE-Repo/script.wikipedia.git
	branch = main
[submodule "addons/skin.arctic.fuse.3"]
	path = addons/skin.arctic.fuse.3
	url = https://github.com/CE-Repo/skin.arctic.fuse.3.git
	branch = omega