[submodule "addons/skin.arctic.fuse.2"]
	path = addons/skin.arctic.fuse.2
	url = https://github.com/CE-Repo/skin.arctic.fuse.2.git
	branch = omega
[submodule "addons/skin.arctic.zephyr.mod"]
	path = addons/skin.arctic.zephyr.mod
	url = https://github.com/CE-Repo/skin.arctic.zephyr.mod.git
	branch = master
[submodule "addons/skin.pm3-hd"]
	path = addons/skin.pm3-hd
	url = https://github.com/CE-Repo/skin.pm3-hd.git
	branch = master
[submodule "addons/script.texturemaker"]
	path = addons/script.texturemaker
	url = https://github.com/jurialmunkey/script.texturemaker.git
	branch = main
